
# directories (by name)

/_build/
/_internal/

/.vs/

/ideas/

Debug/
Debug Multithreaded/
Debug Multithreaded DLL/
UDebug/
Unicode Debug/
Unicode Debug Multithreaded/
Unicode Debug Multithreaded DLL/
Release/
Release Multithreaded/
Release Multithreaded DLL/
URelease/
Unicode Release/
Unicode Release Multithreaded/
Unicode Release Multithreaded DLL/

# directories (by pattern)

# files (by name)

list_changes.cmd

logging-bailout.txt

sh.exe.stackdump

# files (by pattern)

*~
*.a
*.app
*.bak
*.dll
*.dylib
*.exe
*.gch
*.idb
*.ilk
*.lib
*.log
*.ncb
*.o
*.obj
*.opensdf
*.opt
*.org
*.out
*.pch
*.pdb
*.res
*.sbr
*.scc
*.sdf
*.so
*.suo
*.swp
*.tlog
*.tmp
*.unsuccessfulbuild
*.vcproj*.user
*.vcxproj*.user
*.zip

